.body{
    background-image: url("https://cdn.dribbble.com/users/2155177/screenshots/11009997/media/02fc6f39d0668db3811507d33e97635c.png");
    background-repeat: no-repeat;
    background-position: 580px 60px;
    background-size: contain;

}
.footer-container-client{
    margin-top: 23px;
}
